# Вебинар 5. Ранжирование и Гибридные рекоммендательные системы

# 1. Ранжирование

### 1.1 BPR - Bayesian Personalized Ranking loss

$$loss = \sigma(p^{+} - p^{-})$$

1. Случайная пара user - купленный им item_i = позитивная пара
2. Для того же юзера сэмплируем item_j (не купил или вес в user-item матрице ниже, у item_i из 1.) - негативная пара
3. Прогнозы модели $p^{+}$, $p^{-}$ --> $p^{+} - p^{-}$
4. loss = $\sigma(p^{+} - p^{-})$ - это и есть наша ошибка
5. Обновляем эмбеддинги

### 1.2 WARP = Weighted Approximate-Rank Pairwise loss
Неплохое [объяснение](https://medium.com/@gabrieltseng/intro-to-warp-loss-automatic-differentiation-and-pytorch-b6aa5083187a) на игрушечном примере

$$loss = ln(\frac{K-1}{N})*(p^- - p^+)$$

1. Сэмплируем случайную позитивную пару юзер-item, прогноз модели для этой пары $p^+$
2. Сюмплируем далее до тех пор, пока не найдем негативную пару, где прогнозная вероятность $p^-$ > $p^+$
3. K - общее количество рекомендаций
4. N - кол-во сэмплирований (зависит от качества модели!)

**Note**  
loss зависит только от 2-ух сэмплированных пар, эмбеддинги только для этих пар будут обновлены

In [1]:
# Case 1
p_plus = 4.3  # true = 1
p_neg_1 = -2.3 
p_neg_2 = 4.5

loss(random_seed) = [(3-1) / 10 * (4.5 - 4.3)]

# Case 2 -  модель лучше в этом случае
p_plus = 4.3  # true = 1
p_neg_1 = -2.3 
p_neg_2 = 0.5
p_neg_3 = -0.5
p_neg_4 = 2.1
p_neg_5 = 4.5

loss(random_seed) = [(6-1) / 10 * (4.5 - 4.3)]

SyntaxError: ignored

### Зачем нужно ранжирование? Есть же классификация (предсказание 0 и 1)
- Ранжирование гораздо лучше выбирает топ-k товаров, особенно когда k велико
- Ранжирование позволяет напрямую ранжировать 5 релевантных юзеру товаров (какой из 5 поставить выше?)

---

# 2. LightFM

![mf.png](attachment:mf.png)

Формула эмбеддинга в ALS (матричной факторизации)

$$user_{emb} = \theta_1 * i_1 + ... + \theta_n * i_n$$  
  
$$p = user_{emb} * item_{emb}^T + b_u + b_i$$

Формула в LightFM

$$user_{emb} = \theta_1 * i_1 + ... + \theta_n * i_n + \alpha_1 * f_1 + ... + \alpha_k * f_k$$  
  
$$p = user_{emb} * item_{emb}^T + b_u + b_i$$

### Зачем нужны гибридные системы?

*Холодный старт* - ситуация, в которой с товаром/юзером в матрице мало взаимодействий

Холодный старт для товаров - обычно введение нового товара (YouTube, Lamoda, hh.ru)  
Холодный старт для юзера - к нам пришел новый юзер  

Холодного юзера/товар можно описать фичами --> мы больше о нем знаем --> он уже не такой холодный

In [2]:
!pip install lightfm implicit

Requirement already satisfied: lightfm in /usr/local/lib/python3.7/dist-packages (1.16)
Requirement already satisfied: implicit in /usr/local/lib/python3.7/dist-packages (0.5.2)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from lightfm) (1.4.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from lightfm) (1.21.6)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from lightfm) (1.0.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from lightfm) (2.23.0)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from implicit) (4.64.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->lightfm) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->lightfm) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->lightfm) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->lightfm) (1.24.3)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->lightfm) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->lightfm) (3.1.0)

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Для работы с матрицами
from scipy.sparse import csr_matrix, coo_matrix

# Матричная факторизация
from implicit.als import AlternatingLeastSquares
from implicit.nearest_neighbours import bm25_weight, tfidf_weight

from lightfm import LightFM

# Функции из 1-ого вебинара
import os, sys

sys.path.append('/content/drive/MyDrive/Colab Notebooks/')

module_path = os.path.abspath(os.path.join(os.pardir))
if module_path not in sys.path:
    sys.path.append(module_path)

/usr/local/lib/python3.7/dist-packages/implicit/gpu/__init__.py:14: UserWarning: CUDA extension is built, but disabling GPU support because of 'Cuda Error: no CUDA-capable device is detected (/project/./implicit/gpu/utils.h:71)'
  f"CUDA extension is built, but disabling GPU support because of '{e}'",

In [4]:
from lightfm.evaluation import precision_at_k, recall_at_k

from metrics import precision_at_k as custom_precision, recall_at_k
from utils import prefilter_items

In [5]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/retail_train.csv')

item_features = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/product.csv')
user_features = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/hh_demographic.csv')

# column processing
item_features.columns = [col.lower() for col in item_features.columns]
user_features.columns = [col.lower() for col in user_features.columns]

item_features.rename(columns={'product_id': 'item_id'}, inplace=True)
user_features.rename(columns={'household_key': 'user_id'}, inplace=True)

# train test split
test_size_weeks = 3

data_train = data[data['week_no'] < data['week_no'].max() - test_size_weeks]
data_test = data[data['week_no'] >= data['week_no'].max() - test_size_weeks]

data_train.head(2)

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
0,2375,26984851472,1,1004906,1,1.39,364,-0.6,1631,1,0.0,0.0
1,2375,26984851472,1,1033142,1,0.82,364,0.0,1631,1,0.0,0.0

In [6]:
result = data_test.groupby('user_id')['item_id'].unique().reset_index()
result.columns=['user_id', 'actual']
result.head(2)

   user_id                                             actual
0        1  [821867, 834484, 856942, 865456, 889248, 90795...
1        3  [835476, 851057, 872021, 878302, 879948, 90963...

In [7]:
item_features.head(2)

,item_id,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product
0,25671,2,GROCERY,National,FRZN ICE,ICE - CRUSHED/CUBED,22 LB
1,26081,2,MISC. TRANS.,National,NO COMMODITY DESCRIPTION,NO SUBCOMMODITY DESCRIPTION,

In [8]:
user_features.head(2)

,age_desc,marital_status_code,income_desc,homeowner_desc,hh_comp_desc,household_size_desc,kid_category_desc,user_id
0,65+,A,35-49K,Homeowner,2 Adults No Kids,2,None/Unknown,1
1,45-54,A,50-74K,Homeowner,2 Adults No Kids,2,None/Unknown,7

In [9]:
user_features['age_desc'].unique()

array(['65+', '45-54', '25-34', '35-44', '19-24', '55-64'], dtype=object)

In [10]:
user_features['marital_status_code'].unique()

array(['A', 'U', 'B'], dtype=object)

In [11]:
user_features['household_size_desc'].unique()

array(['2', '3', '4', '1', '5+'], dtype=object)

## 1. Filter items

In [12]:
data_train.head()

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
0,2375,26984851472,1,1004906,1,1.39,364,-0.60,1631,1,0.0,0.0
1,2375,26984851472,1,1033142,1,0.82,364,0.00,1631,1,0.0,0.0
2,2375,26984851472,1,1036325,1,0.99,364,-0.30,1631,1,0.0,0.0
3,2375,26984851472,1,1082185,1,1.21,364,0.00,1631,1,0.0,0.0
4,2375,26984851472,1,8160430,1,1.50,364,-0.39,1631,1,0.0,0.0

In [13]:
n_items_before = data_train['item_id'].nunique()

data_train_filtered = prefilter_items(data_train, take_n_popular=5000, item_features=item_features)

n_items_after = data_train_filtered['item_id'].nunique()
print('Decreased # items from {} to {}'.format(n_items_before, n_items_after))

/content/drive/MyDrive/Colab Notebooks/utils.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['price'] = data['sales_value'] / (np.maximum(data['quantity'], 1))

Decreased # items from 86865 to 5001

# 2. Prepare data set

## 2.1 Prepare csr train matrix

In [14]:

user_item_matrix = pd.pivot_table(data_train_filtered, 
                                  index='user_id', columns='item_id', 
                                  values='quantity', # Можно пробоват ьдругие варианты
                                  aggfunc='count', 
                                  fill_value=0
                                 )

user_item_matrix = user_item_matrix.astype(float) # необходимый тип матрицы для implicit

# переведем в формат sparse matrix
sparse_user_item = csr_matrix(user_item_matrix).tocsr()

user_item_matrix.head(2)

item_id,117847,818981,819255,819308,819400,819487,819590,819594,819840,819845,...,15926775,15926844,15926886,15972074,15972298,15972565,15972790,16100266,16729299,16729415
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## 2.2 Prepare CSR test matrix

In [15]:
data_test = data_test[data_test['item_id'].isin(data_train['item_id'].unique())]

test_user_item_matrix = pd.pivot_table(data_test, 
                                  index='user_id', columns='item_id', 
                                  values='quantity', # Можно пробоват ьдругие варианты
                                  aggfunc='count', 
                                  fill_value=0
                                 )

test_user_item_matrix = test_user_item_matrix.astype(float) # необходимый тип матрицы для implicit

In [16]:
userids = user_item_matrix.index.values
itemids = user_item_matrix.columns.values

matrix_userids = np.arange(len(userids))
matrix_itemids = np.arange(len(itemids))

id_to_itemid = dict(zip(matrix_itemids, itemids))
id_to_userid = dict(zip(matrix_userids, userids))

itemid_to_id = dict(zip(itemids, matrix_itemids))
userid_to_id = dict(zip(userids, matrix_userids))

## 3. Prepare user and item features

In [17]:
user_feat = pd.DataFrame(user_item_matrix.index)
user_feat = user_feat.merge(user_features, on='user_id', how='left')
user_feat.set_index('user_id', inplace=True)
user_feat.head(2)

,age_desc,marital_status_code,income_desc,homeowner_desc,hh_comp_desc,household_size_desc,kid_category_desc
user_id,,,,,,,
1,65+,A,35-49K,Homeowner,2 Adults No Kids,2,None/Unknown
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
user_feat.shape

(2497, 7)

In [19]:
item_feat = pd.DataFrame(user_item_matrix.columns)
item_feat = item_feat.merge(item_features, on='item_id', how='left')
item_feat.set_index('item_id', inplace=True)

item_feat.head(2)

,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product
item_id,,,,,,
117847,450.0,NUTRITION,National,REFRIGERATED,SOY/RICE MILK,64 OZ
818981,194.0,GROCERY,National,COLD CEREAL,ALL FAMILY CEREAL,10.4 OZ

In [20]:
item_feat.shape

(5001, 6)

## Encoding features

In [21]:
user_feat_lightfm = pd.get_dummies(user_feat, columns=user_feat.columns.tolist())
item_feat_lightfm = pd.get_dummies(item_feat, columns=item_feat.columns.tolist())

In [22]:
user_feat_lightfm.head(2)

,age_desc_19-24,age_desc_25-34,age_desc_35-44,age_desc_45-54,age_desc_55-64,age_desc_65+,marital_status_code_A,marital_status_code_B,marital_status_code_U,income_desc_100-124K,...,hh_comp_desc_Unknown,household_size_desc_1,household_size_desc_2,household_size_desc_3,household_size_desc_4,household_size_desc_5+,kid_category_desc_1,kid_category_desc_2,kid_category_desc_3+,kid_category_desc_None/Unknown
user_id,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,1,1,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
user_feat_lightfm.shape

(2497, 41)

In [24]:
item_feat_lightfm.head(2)

,manufacturer_2.0,manufacturer_5.0,manufacturer_16.0,manufacturer_20.0,manufacturer_26.0,manufacturer_33.0,manufacturer_35.0,manufacturer_36.0,manufacturer_42.0,manufacturer_43.0,...,curr_size_of_product_L 16 OZ,curr_size_of_product_L 7.75 OZ,curr_size_of_product_L 13.25 OZ,curr_size_of_product_LB,curr_size_of_product_N 12 OZ,curr_size_of_product_N 40 OZ,curr_size_of_product_PINT,curr_size_of_product_PK,curr_size_of_product_PT,curr_size_of_product_QT
item_id,,,,,,,,,,,,,,,,,,,,,
117847,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
818981,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
item_feat_lightfm.shape

(5001, 2718)

## Init model

In [26]:
model = LightFM(no_components=40,
                loss='bpr', # "logistic","bpr", "warp"
                learning_rate=0.01, 
                item_alpha=0.4,
                user_alpha=0.1, 
                random_state=42,
                k=5,
                n=15,
                max_sampled=100)

## Train

In [27]:
%%time
model.fit((sparse_user_item > 0) * 1,  # user-item matrix из 0 и 1
          sample_weight=coo_matrix(user_item_matrix),
          user_features=csr_matrix(user_feat_lightfm.values).tocsr(),
          item_features=csr_matrix(item_feat_lightfm.values).tocsr(),
          epochs=20, 
          num_threads=20,
          verbose=True)

Epoch: 100%|██████████| 20/20 [00:42<00:00,  2.14s/it]

CPU times: user 1min 22s, sys: 143 ms, total: 1min 22s
Wall time: 43.3 s

# Getting embeddings

## вектора по пользователям

In [37]:
user_emb = model.get_user_representations(features=csr_matrix(user_feat_lightfm.values).tocsr())

In [38]:
user_emb[0].shape # biases

(2497,)

In [39]:
user_emb[1].shape # users vectors

(2497, 40)

## вектора по товарам

In [40]:
item_emb = model.get_item_representations(features=csr_matrix(item_feat_lightfm.values).tocsr())

In [41]:
item_emb[0].shape # biases

(5001,)

In [42]:
item_emb[1].shape # items vectors

(5001, 40)

# Evaluation -> Train precision

In [43]:
# мы можем использовать встроенные метрики lightFM

train_precision = precision_at_k(model, sparse_user_item, 
                                 user_features=csr_matrix(user_feat_lightfm.values).tocsr(),
                                 item_features=csr_matrix(item_feat_lightfm.values).tocsr(),
                                 k=5).mean()

print(f"Train precision {train_precision}")

Train precision 0.4385262429714203

# Predict

In [28]:
# подготавливаемм id для юзеров и товаров в порядке пар user-item
users_ids_row = data_train_filtered['user_id'].apply(lambda x: userid_to_id[x]).values.astype(int)
items_ids_row = data_train_filtered['item_id'].apply(lambda x: itemid_to_id[x]).values.astype(int)

In [45]:
users_ids_row[:10]

array([2371, 1363, 1363, 1363, 1363, 1171, 1171, 1171, 1171, 1171])

In [29]:
# модель возвращает меру/скор похожести между соответствующим пользователем и товаром
predictions = model.predict(user_ids=users_ids_row,
                            item_ids=items_ids_row,
                            user_features=csr_matrix(user_feat_lightfm.values).tocsr(),
                            item_features=csr_matrix(item_feat_lightfm.values).tocsr(),
                            num_threads=10)

In [30]:
# добавляем наш полученный скор в трейн датафрейм
data_train_filtered['score'] = predictions

In [48]:
data_train_filtered.head()

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc,price,score
7,2375,26984851516,1,1085983,1,2.99,364,-0.40,1642,1,0.0,0.0,2.99,-0.008573
11,1364,26984896261,1,999999,1,2.19,31742,0.00,1520,1,0.0,0.0,2.19,-0.618426
12,1364,26984896261,1,999999,1,2.99,31742,-0.40,1520,1,0.0,0.0,2.99,-0.618426
13,1364,26984896261,1,999999,1,3.09,31742,0.00,1520,1,0.0,0.0,3.09,-0.618426
14,1364,26984896261,1,937406,1,2.50,31742,-0.99,1520,1,0.0,0.0,2.50,-0.625472

In [31]:
# создаем предикт датафрейм в формате списка това
predict_result = data_train_filtered[['user_id','item_id','score']][data_train_filtered.item_id != 999999].drop_duplicates().sort_values(by=['user_id','score'], ascending=False).groupby('user_id')['item_id']. \
            unique().reset_index()

In [50]:
predict_result.head()

   user_id                                            item_id
0        1  [1029743, 877391, 6034857, 1088462, 838867, 74...
1        2  [1106523, 1075368, 866211, 916122, 945901, 969...
2        3  [1106523, 983584, 5585510, 866211, 899624, 112...
3        4  [1029743, 1075368, 1052294, 7431408, 1093697, ...
4        5  [1126899, 1029743, 6034991, 916122, 1112387, 1...

In [32]:
# объединяем предикт и тест датасет для подсчета precision
df_result_for_metrics = result.merge(predict_result, on='user_id', how='inner')

In [52]:
df_result_for_metrics.head()

,user_id,actual,item_id
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[1029743, 877391, 6034857, 1088462, 838867, 74..."
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[1106523, 983584, 5585510, 866211, 899624, 112..."
2,6,"[920308, 926804, 946489, 1006718, 1017061, 107...","[1070820, 1029743, 1126899, 1121393, 9524291, ..."
3,7,"[840386, 889774, 898068, 909714, 929067, 95347...","[1029743, 1126899, 1106523, 851066, 9835880, 5..."
4,8,"[835098, 872137, 910439, 924610, 992977, 10412...","[1106523, 1070820, 1029743, 5585510, 6034857, ..."

### Test with custom precision func

In [33]:
precision = df_result_for_metrics.apply(lambda row: custom_precision(row['item_id'], row['actual'],k=5), axis=1).mean()
print(f"Precision: {precision}")

Precision: 0.14220032840722324

# Links

Neural networks for RS: http://d2l.ai/chapter_recommender-systems/mf.html

LigthFM -> https://arxiv.org/pdf/1507.08439.pdf

https://making.lyst.com/lightfm/docs/home.html

# Домашнее задание

#### 1) Прочитать статьи про BPR, WARP loss

#### 2) Сделать грид серч текущей модели, смотрите на метрику precision@5, считаем на тесте нашей функцией
    Подбор параметров:
    - Loss
    - no_components
    - regularization

In [61]:
loss_grid = ['bpr', 'warp']
components_grid = [20,30,40]
item_grid = [0.1,0.2,0.3,0.4]
user_grid = [0.1,0.2,0.3,0.4]

result_dict={'metric':0, 'loss':'', 'no_components':0, 'item_alpha':0, 'user_alpha':0}

In [62]:
for loss in loss_grid:
  for component in components_grid:
    for item in item_grid:
      for user in user_grid:
        model = LightFM(no_components=component,
                        loss=loss, # "bpr", "warp"
                        learning_rate=0.01, 
                        item_alpha=item,
                        user_alpha=user, 
                        random_state=42,
                        k=5,
                        n=15,
                        max_sampled=100)

        model.fit((sparse_user_item > 0) * 1,  # user-item matrix из 0 и 1
                  sample_weight=coo_matrix(user_item_matrix),
                  user_features=csr_matrix(user_feat_lightfm.values).tocsr(),
                  item_features=csr_matrix(item_feat_lightfm.values).tocsr(),
                  epochs=20, 
                  num_threads=20,
                  verbose=True)

        predictions = model.predict(user_ids=users_ids_row,
                                    item_ids=items_ids_row,
                                    user_features=csr_matrix(user_feat_lightfm.values).tocsr(),
                                    item_features=csr_matrix(item_feat_lightfm.values).tocsr(),
                                    num_threads=10)

        data_train_filtered['score'] = predictions

        predict_result = data_train_filtered[['user_id','item_id','score']][data_train_filtered.item_id != 999999].drop_duplicates().sort_values(by=['user_id','score'], ascending=False).groupby('user_id')['item_id']. \
                    unique().reset_index()

        df_result_for_metrics = result.merge(predict_result, on='user_id', how='inner')

        precision = df_result_for_metrics.apply(lambda row: custom_precision(row['item_id'], row['actual'],k=5), axis=1).mean()

        if precision >= result_dict['metric']:
          result_dict['metric'] = precision
          result_dict['loss'] = loss
          result_dict['no_components'] = component
          result_dict['item_alpha'] = item
          result_dict['user_alpha'] = user

result_dict

Epoch: 100%|██████████| 20/20 [00:23<00:00,  1.17s/it]
Epoch: 100%|██████████| 20/20 [00:23<00:00,  1.16s/it]
Epoch: 100%|██████████| 20/20 [00:22<00:00,  1.12s/it]
Epoch: 100%|██████████| 20/20 [00:23<00:00,  1.16s/it]
Epoch: 100%|██████████| 20/20 [00:22<00:00,  1.15s/it]
Epoch: 100%|██████████| 20/20 [00:22<00:00,  1.15s/it]
Epoch: 100%|██████████| 20/20 [00:22<00:00,  1.15s/it]
Epoch: 100%|██████████| 20/20 [00:22<00:00,  1.15s/it]
Epoch: 100%|██████████| 20/20 [00:22<00:00,  1.12s/it]
Epoch: 100%|██████████| 20/20 [00:23<00:00,  1.18s/it]
Epoch: 100%|██████████| 20/20 [00:22<00:00,  1.12s/it]
Epoch: 100%|██████████| 20/20 [00:22<00:00,  1.14s/it]
Epoch: 100%|██████████| 20/20 [00:22<00:00,  1.13s/it]
Epoch: 100%|██████████| 20/20 [00:22<00:00,  1.15s/it]
Epoch: 100%|██████████| 20/20 [00:22<00:00,  1.13s/it]
Epoch: 100%|██████████| 20/20 [00:23<00:00,  1.17s/it]
Epoch: 100%|██████████| 20/20 [00:33<00:00,  1.67s/it]
Epoch: 100%|██████████| 20/20 [00:34<00:00,  1.72s/it]
Epoch: 100%|██████████| 20/20 [00:34<00:00,  1.71s/it]
Epoch: 100%|██████████| 20/20 [00:33<00:00,  1.69s/it]
Epoch: 100%|██████████| 20/20 [00:33<00:00,  1.67s/it]
Epoch: 100%|██████████| 20/20 [00:33<00:00,  1.66s/it]
Epoch: 100%|██████████| 20/20 [00:32<00:00,  1.63s/it]
Epoch: 100%|██████████| 20/20 [00:32<00:00,  1.63s/it]
Epoch: 100%|██████████| 20/20 [00:32<00:00,  1.62s/it]
Epoch: 100%|██████████| 20/20 [00:31<00:00,  1.60s/it]
Epoch: 100%|██████████| 20/20 [00:32<00:00,  1.61s/it]
Epoch: 100%|██████████| 20/20 [00:31<00:00,  1.59s/it]
Epoch: 100%|██████████| 20/20 [00:31<00:00,  1.60s/it]
Epoch: 100%|██████████| 20/20 [00:32<00:00,  1.63s/it]
Epoch: 100%|██████████| 20/20 [00:32<00:00,  1.62s/it]
Epoch: 100%|██████████| 20/20 [00:32<00:00,  1.62s/it]
Epoch: 100%|██████████| 20/20 [00:41<00:00,  2.07s/it]
Epoch: 100%|██████████| 20/20 [00:41<00:00,  2.05s/it]
Epoch: 100%|██████████| 20/20 [00:41<00:00,  2.06s/it]
Epoch: 100%|██████████| 20/20 [00:41<00:00,  2.07s/it]
Epoch: 100%|██████████| 20/20 [00:41<00:00,  2.10s/it]
Epoch: 100%|██████████| 20/20 [00:43<00:00,  2.18s/it]
Epoch: 100%|██████████| 20/20 [00:43<00:00,  2.15s/it]
Epoch: 100%|██████████| 20/20 [00:42<00:00,  2.14s/it]
Epoch: 100%|██████████| 20/20 [00:41<00:00,  2.09s/it]
Epoch: 100%|██████████| 20/20 [00:41<00:00,  2.08s/it]
Epoch: 100%|██████████| 20/20 [00:40<00:00,  2.05s/it]
Epoch: 100%|██████████| 20/20 [00:41<00:00,  2.06s/it]
Epoch: 100%|██████████| 20/20 [00:42<00:00,  2.14s/it]
Epoch: 100%|██████████| 20/20 [00:41<00:00,  2.09s/it]
Epoch: 100%|██████████| 20/20 [00:41<00:00,  2.09s/it]
Epoch: 100%|██████████| 20/20 [00:41<00:00,  2.06s/it]
Epoch: 100%|██████████| 20/20 [00:23<00:00,  1.17s/it]
Epoch: 100%|██████████| 20/20 [00:23<00:00,  1.18s/it]
Epoch: 100%|██████████| 20/20 [00:23<00:00,  1.18s/it]
Epoch: 100%|██████████| 20/20 [00:23<00:00,  1.19s/it]
Epoch: 100%|██████████| 20/20 [00:24<00:00,  1.25s/it]
Epoch: 100%|██████████| 20/20 [00:23<00:00,  1.17s/it]
Epoch: 100%|██████████| 20/20 [00:23<00:00,  1.19s/it]
Epoch: 100%|██████████| 20/20 [00:23<00:00,  1.17s/it]
Epoch: 100%|██████████| 20/20 [00:28<00:00,  1.42s/it]
Epoch: 100%|██████████| 20/20 [00:23<00:00,  1.20s/it]
Epoch: 100%|██████████| 20/20 [00:24<00:00,  1.21s/it]
Epoch: 100%|██████████| 20/20 [00:22<00:00,  1.15s/it]
Epoch: 100%|██████████| 20/20 [00:28<00:00,  1.43s/it]
Epoch: 100%|██████████| 20/20 [00:23<00:00,  1.17s/it]
Epoch: 100%|██████████| 20/20 [00:23<00:00,  1.19s/it]
Epoch: 100%|██████████| 20/20 [00:23<00:00,  1.17s/it]
Epoch: 100%|██████████| 20/20 [00:33<00:00,  1.69s/it]
Epoch: 100%|██████████| 20/20 [00:33<00:00,  1.69s/it]
Epoch: 100%|██████████| 20/20 [00:33<00:00,  1.70s/it]
Epoch: 100%|██████████| 20/20 [00:34<00:00,  1.70s/it]
Epoch: 100%|██████████| 20/20 [00:34<00:00,  1.74s/it]
Epoch: 100%|██████████| 20/20 [00:33<00:00,  1.66s/it]
Epoch: 100%|██████████| 20/20 [00:33<00:00,  1.67s/it]
Epoch: 100%|██████████| 20/20 [00:33<00:00,  1.65s/it]
Epoch: 100%|██████████| 20/20 [00:37<00:00,  1.87s/it]
Epoch: 100%|██████████| 20/20 [00:33<00:00,  1.70s/it]
Epoch: 100%|██████████| 20/20 [00:33<00:00,  1.66s/it]
Epoch: 100%|██████████| 20/20 [00:33<00:00,  1.65s/it]
Epoch: 100%|██████████| 20/20 [00:39<00:00,  1.98s/it]
Epoch: 100%|██████████| 20/20 [00:34<00:00,  1.72s/it]
Epoch: 100%|██████████| 20/20 [00:35<00:00,  1.75s/it]
Epoch: 100%|██████████| 20/20 [00:33<00:00,  1.68s/it]
Epoch: 100%|██████████| 20/20 [00:43<00:00,  2.16s/it]
Epoch: 100%|██████████| 20/20 [00:45<00:00,  2.27s/it]
Epoch: 100%|██████████| 20/20 [00:45<00:00,  2.26s/it]
Epoch: 100%|██████████| 20/20 [00:43<00:00,  2.19s/it]
Epoch: 100%|██████████| 20/20 [00:44<00:00,  2.22s/it]
Epoch: 100%|██████████| 20/20 [00:43<00:00,  2.17s/it]
Epoch: 100%|██████████| 20/20 [00:42<00:00,  2.15s/it]
Epoch: 100%|██████████| 20/20 [00:42<00:00,  2.13s/it]
Epoch: 100%|██████████| 20/20 [00:50<00:00,  2.53s/it]
Epoch: 100%|██████████| 20/20 [00:44<00:00,  2.21s/it]
Epoch: 100%|██████████| 20/20 [00:43<00:00,  2.16s/it]
Epoch: 100%|██████████| 20/20 [00:42<00:00,  2.14s/it]
Epoch: 100%|██████████| 20/20 [00:53<00:00,  2.65s/it]
Epoch: 100%|██████████| 20/20 [00:44<00:00,  2.21s/it]
Epoch: 100%|██████████| 20/20 [00:43<00:00,  2.15s/it]
Epoch: 100%|██████████| 20/20 [00:43<00:00,  2.16s/it]

{'item_alpha': 0.1,
 'loss': 'bpr',
 'metric': 0.1501806239737253,
 'no_components': 40,
 'user_alpha': 0.4}